@import url("colors.css");

table.head, table.foot { width: 100%; }
td.head-rtitle, td.foot-os { text-align: right; }
td.head-vol { text-align: center; }
div.Pp { margin: 1ex 0ex; }
div.Nd, div.Bf, div.Op { display: inline; }
span.Pa, span.Ad { font-style: italic; }
span.Ms { font-weight: bold; }
dl.Bl-diag > dt { font-weight: bold; }
code.Nm, code.Fl, code.Cm, code.Ic, code.In, code.Fd, code.Fn,
code.Cd { font-weight: bold; font-family: inherit; }

div.head, div.foot { display: flex; justify-content: space-between; }
.head-ltitle, .foot-left { flex: 1; }
.head-vol, .foot-date { flex: 0 1 auto; text-align: center; }
.head-rtitle, .foot-os { flex: 1; text-align: right; }

html { font-family: monospace; line-height: 1.25em; }
body { max-width: 80ch; margin: 1em auto; padding: 0 1ch; }
table { border-collapse: collapse; }
table.Nm code.Nm { padding-right: 1ch; }
table.foot { margin-top: 1em; }

html { background-color: var(--bg); color: var(--fg); }
a { color: var(--hl); }
a:visited { color: var(--hl2); }
a.permalink { color: var(--hl3); text-decoration: none; }
